# Public settings for the Connor Norman Walker Sanity project
NEXT_PUBLIC_SANITY_PROJECT_ID="higne5uj"
NEXT_PUBLIC_SANITY_DATASET="production"
NEXT_PUBLIC_SANITY_API_VERSION="2024-10-28"
NEXT_PUBLIC_SANITY_STUDIO_URL="https://connornormanwalker.netlify.app/studio"

# Keep this server-only. Add the replacement Viewer token locally and in Netlify.
SANITY_API_READ_TOKEN="skqngtr9XmC1hEZb4lnnwSAEEVUN6pbyOLEzgHU5gosFWpXs8VIedVPwVw6sclnnDQ3xyGL6K4U30AE2lFd0OjAkysei3GwqS5TZTwXgvAwQQ8KSMvM4uaHWStIuLaxIbiTwN42wA6GxAnMOaHBkWILPEGUuh7FZEyQJnyAbaDbErQh9bCgk
"
